PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here_change_in_production
FRONTEND_URL=http://localhost:5555
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM="Smart Parking <noreply@smartparking.example>"
PAYMENT_MODE=MOCK
ADMIN_EMAIL=admin@smartparking.local
ADMIN_PASSWORD=change_me
MANAGER_EMAIL=manager@smartparking.local
MANAGER_PASSWORD=change_me
MANAGER_LOCATION_NAME=Bashundhara City Parking
